

     <div class="containcenter">
<h3><%= @results.title %></h3>
<img src="<%= @results.poster %>" class="img-polaroid">
<h5>Rating:</h5> <%= @results.rated %>
<h5>Director:</h5> <%= @results.director %>
<h5>Year:</h5> <%= @results.year %>
</div>